<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>MBTI TEST</title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">질문</th>
            <th scope="col">옵션1</th>
            <th scope="col">옵션2</th>
            <th scope="col">선택</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">5</th>
            <td>점심시간인데 아무도 일어나지 않는 상황. 어떻게 해야할까?</td>
            <td>눈치를 보고 일단 가만히 있는다</td>
            <td>밥 안드시냐고 옆 사람에게 한번 물어본다</td>
            <td>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio11" value="I" onclick="radio_check1()">
                <label class="form-check-label" for="inlineRadio1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio12" value="E" onclick="radio_check1()">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>내가 전혀 모르는 분야의 보고서를 받았다면?</td>
            <td>꼼꼼하고 정확하게 읽는다</td>
            <td>전체 의미를 파악해본다</td>
            <td>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio21" value="S" onclick="radio_check2()">
                <label class="form-check-label" for="inlineRadio1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio22" value="N" onclick="radio_check2()">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>선배에게 물어보니 무조건 외우라는데, 나의 속마음은?</td>
            <td>이해를 못하겠는데 어떻게 외우지?</td>
            <td>일단 외우라고하니 외워봐야지</td>
            <td>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio31" value="N" onclick="radio_check3()">
                <label class="form-check-label" for="inlineRadio1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio32" value="S" onclick="radio_check3()">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>회사에서 팀프로젝트의 구성원이 되었다. 나의 속마음은?</td>
            <td>다른 사람과 일을 잘 할 수 있을까..</td>
            <td>사람이 모이면 시너지가 날거야</td>
            <td>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio41" value="I" onclick="radio_check4()">
                <label class="form-check-label" for="inlineRadio1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio42" value="E" onclick="radio_check4()">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="container" style="text-align: center;">
        <button type="button" class="btn btn-success" id="bef_btn">이전페이지</button>
        <button type="button" class="btn btn-danger" id="next_btn">다음페이지</button>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id=progressbar role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <script type="text/javascript" src="/view/2.js"></script>
  </body>
  
</html>